{# empty Twig template #}
    <div class="common_nav"><a href="{{ path('PpgwBundle_classifieds') }}">Classifieds</a></div>
    <div class="common_nav"><a href="{{ path('PpgwBundle_plant_index') }}">Plant Index</a></div>
    <div class="common_nav"><a href="{{ path('PpgwBundle_instructables') }}">Instructables</a></div>
    <div class="common_nav"><a href="{{ path('PpgwBundle_gardenSupplies') }}">Garden Supplies</a></div>
    <div class="common_nav"><a href="{{ path('PpgwBundle_resources') }}">Resources</a></div>
    <div class="common_nav"><a href="{{ path('PpgwBundle_forum') }}">Forum</a></div>
    <div class="common_nav"><a href="{{ path('PpgwBundle_disclaimer') }}">Disclaimer</a></div>
    <div><a href="{{ path('PpgwBundle_tech_index') }}">Technical</a></div>
    
