{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }} <link href="{{ asset('bundles/bloggerblog/css/forms.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block title %}New Photo{% endblock%}

{% block body %}
    <div class="section-header"><h1>New Photo</h1>
        <ul class="page-nav">
            <li><a href="">Save</a></li>    
            <li><a href="">Cancel</a>
        </ul>
    </div>
    
    <form action="{{ path('BloggerBlogBundle_gallery_new') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_widget(form) }} 
        <input type="submit" value="Submit" />
    </form>
    
{% endblock %}
